        *   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: #333;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }
        header h1 {
            margin: 0;
            font-size: 24px;
            line-height: 1;
            padding: 10px;
        }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
        }
        nav ul li {
            display: inline;
            
        }

        nav a {
            float:right;
            padding:0 20px 0 20px;
            padding-bottom:30px;
        }
        .header a:hover{
            color:#e8491e;
            font-weight:bold;
        }

        
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        #showcase {
            height:90px;
            background:#333;
            color:#f3f3f3;
            text-align: center;
            padding: 150px 0;
        }
        #showcase h3 {
            margin: 0;
            font-size: 28px;
        }
        #newsletter {
            background: #e8491d;
            color: black;
            padding: 15px 0;
        }
        #newsletter h3 {
            margin-top: 0;
            float:right;
        }
        form input[type="email"] {
            float:left;
            padding: 10px;
            width: 250px;
            border: none;
        }
        form button[type="submit"] {
            padding: 10px 20px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            float:left;
        }
        #showcase form{
            margin:0;
        }

        #boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        .box {
            background: #fff;
            padding: 20px;
            text-align: center;
            flex: 1;
            margin: 0 10px;
        }
        .footer{
            
            padding:15px;
            background:#333;
            color:#fff;
            text-align: center;
        
        }
       
        